.apparel img {
  width: 100%;
}

.apparel_soldOut {
  padding: 20px;
  border: 1px solid;
  width: 100%;
  position: relative;
}
.apparel_soldOut img {
  width: 100%;
  opacity: 0.5;
}
.apparel_soldOut:hover {
  scale: 1.05;
}

.apparel {
  padding: 20px;
  width: 100%;
  border: 1px solid;
  border-color: beige;
  position: relative;
}
.soldout {
  place-self: center;
  position: absolute;
  color: rgb(168, 181, 117);
  font-family: "Manrope", sans-serif;
  background-color: rgb(133, 38, 38);
  border: 1px solid;
  border-color: rgb(168, 181, 117);
  padding: 0.5rem;
}

.apparel_onSale .discounted {
  justify-content: space-between;
}

.apparel_onSale:hover {
  scale: 1.05;
}
.apparel_onSale img {
  width: 100%;
}
.discounted .percent {
  color: rgb(67, 48, 176);
}
.apparel:hover {
  scale: 1.05;
}

.discounted p:last-child {
  background-color: rgb(177, 177, 76);
  padding: 0.2rem;
  display: flex;
}

.produktliste .apparel_onSale .discounted {
  display: flex;
}

p {
  font-family: "Manrope", sans-serif;
  color: beige;
}

h1 {
  font-family: "Manrope", sans-serif;
  color: beige;
}
h2 {
  font-family: "Manrope", sans-serif;
  color: beige;
}

.overskrift {
  font-weight: bold;
}

.bluetee {
  padding: 20px;
}
.text {
  border: 1px solid;
  background-color: rgb(52, 101, 121);
  padding: 20px;
  margin: 20px;
  line-height: 1.5;
}
.box_1 {
  border: 1px solid;
  background-color: rgb(168, 181, 117);
  padding: 20px;
  margin: 20px;
  line-height: 1.5;
}
.box_buy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
