.apparel img {
  width: 100%;
}

.apparel_soldOut {
  padding: 20px;
  background-color: pink;
  border: 1px solid;
  border-color: deeppink;
  width: 100%;
  position: relative;
}
.apparel_soldOut img {
  width: 100%;
  opacity: 0.5;
}
.apparel_soldOut:hover {
  scale: 1.05;
}

.apparel {
  padding: 20px;
  background-color: pink;
  width: 100%;
  border: 1px solid;
  border-color: deeppink;
  position: relative;
}
.soldout {
  place-self: center;
  position: absolute;
  color: pink;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: deeppink;
  border: 1px solid;
  border-color: pink;
  padding: 0.5rem;
}

.apparel_onSale .discounted {
  justify-content: space-between;
}
.apparel_onSale:hover {
  scale: 1.05;
}
.apparel_onSale img {
  width: 100%;
}
.discounted .percent {
  color: deeppink;
}
.apparel:hover {
  scale: 1.05;
}

.discounted p:last-child {
  background-color: yellow;
  padding: 0.2rem;
  display: flex;
}

.produktliste .apparel_onSale .discounted {
  display: flex;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: deeppink;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: deeppink;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: deeppink;
}
.overskrift_product {
  font-size: 45px;
}

.overskrift {
  font-weight: bold;
}

.bluetee {
  padding: 20px;
}
.text {
  border: 1px solid;
  border-color: deeppink;
  background-color: pink;
  padding: 20px;
  margin: 20px;
  line-height: 1.5;
}
.box_1 {
  border: 1px solid;
  border-color: deeppink;
  background-color: pink;
  padding: 20px;
  margin: 20px;
  line-height: 1.5;
}
.box_buy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#mySelect {
  font-size: 32px;
}
